<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <%- if yield(:title) -%>
      <title><%= AppConfig.app_name %> › <%=h yield(:title) %></title>
    <%- else -%>
      <title><%= AppConfig.app_name %></title>
    <%- end -%>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag  %w[ js_app/lib/jquery js_app/lib/jamal ] %>
    
    <%= javascript_include_tag  %w[ js_app/app_controller ] %>
    <%= javascript_include_tag  %w[ js_app/controllers/customers_controller ] %>
    
    <%= javascript_include_tag  %w[ js_app/app_model ] %>
    <%= javascript_include_tag  %w[ js_app/models/contact_data js_app/models/customer js_app/models/sync_engin ] %>
    
    <%= javascript_include_tag  %w[ js_app/app_view ] %>
    <%= javascript_include_tag  %w[ js_app/views/customers ] %>
    
    <%= javascript_include_tag  %w[ js_app/plugins/jquery.form 
                                    js_app/plugins/jquery.livequery
                                    js_app/plugins/jquery.uuid 
                                    js_app/plugins/jquery.json ] %>
    
    <%= javascript_include_tag 'application' %>
    
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
    <%= yield(:head) %>
    
  </head>
  <body class="jamal {controller:'Customers',action:'index',debug:true}">
    <div id="header">
      <div id="upper_menu">
        <% if logged_in? %>
          <label><%= h(current_user.login) %></label>
          <span class="" id="offline-status"> | 
            <img width="11" height="11" src="/images/ico/off-connected-synced.gif" id="is-connected" class="" alt="" title="Currently online: click to go offline"/>
            <img width="11" height="11" src="/images/ico/off-disconnected.gif" id="is-disconnected" class="hidden" alt="" title="Currently offline: click to go online"/>
            <img width="11" height="11" src="/images/ico/off-connected-syncing.gif" id="is-syncing" class="hidden" alt="" title="Synchronizing..."/>
            <span id="has-gears" class="hidden"><a onclick="try { this.blur(); Offline.Dialog.showGears(); return false; } catch(e) {} " href="#">Offline</a></span>
            </span>
          |
          <%= link_to "Log-out", logout_path, { :title => "Log out" }    %>
          |
          <a href="/tools/index.html">Tool to query the local database </a>
          
        <% else %>
          <%= link_to "Log-in",  login_path,  { :title => "Log in" } %>
          |
          <%= link_to "Sign up", signup_path, { :title => "Create an account" } %>
        <% end %>
      </div>

      <h1><%= link_to AppConfig.app_name, '/' %></h1>

      <% if logged_in? %>
        <ul id="menu">
          <li><%= menu_link_to 'Customers', {:controller => "customers" } %></li>
          <li><%= menu_link_to 'Users', {:controller => "users", :action => "new"} %></li>
        </ul>
      <% end %>
    </div>

    <div id="container">
      <%= yield %>
    </div>

    <div id="right">
      <%= yield(:right) %>
    </div>

    <div id="footer" class="clear">
      <%= render :partial => "/shared/footer" %>
    </div>
    
  </body>
</html>